body {
    font-family:'Times New Roman', Times, serif;
    background-color:rgb(227, 248, 198);
}
footer {
    padding-top: 500px;
}
h1 {
    text-align:center;
    font-weight:normal;
    font-size: 40px;
    padding-bottom:50px;
    padding-top: 50px;   
}
p {
    font-size: 25px;
    padding-right:200px;
    word-wrap: normal;
}
#img1 {
    width:150px;
    height:200px;
    float:right;
    padding-left:100px;
    padding-top: 50px;
}
#img2 {
    width:250px;
    height:150px;
    float:right;
    padding-top:50px;
    padding-bottom:20px;
    padding-left:100px
}

#img3 {
    width:250px;
    height:150px;
    float:right;
    padding-left:200px;
    padding-top:20px;
    padding-bottom:40px;
}
#img4{
width:250px;
    height:150px;
    float:right;
    padding-left:300px;
    padding-top:50px;
    padding-bottom:20px;

}
#img5 {
    width:250px;
    height:150px;
    float:right;
    padding-left:300px;
    padding-top:50px;
    padding-bottom:20px;
}
#plant {
    background-image: url("https://3.bp.blogspot.com/-YMhCOMCuo7w/UthuFHUlMcI/AAAAAAAARno/kbhsqIOWjX0/s1600/horta.jpg");
    opacity: 10px;
    padding-top:70px;
    text-align:center;
    font-size:50px;
}
.texto {
    margin-left: 240px;
    margin-right: 260px;
}
#inicio {
    margin-top:20px;
    text-align: center;
    font-size:25px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 60px;
    padding-top: 50px;
}
#parte {
    padding-left: 40px;
}